.cmp-contentfragment {}

.cmp-contentfragment--skatepark {
    dt {
        display: none;
    }

    img {
        width: 100%;
    }

    .cmp-contentfragment__element--skateParkName {
        display: none;
    }
}

.cmp-contentfragment--skatepark-raw {
    img {
        display: none;
    }
}

.cmp-contentfragment__title {}
.cmp-contentfragment__description {}
.cmp-contentfragment__elements {}
.cmp-contentfragment__element {}
// .cmp-contentfragment__element--myElementName {}
.cmp-contentfragment__element-title {}
.cmp-contentfragment__element-value {}